*.bak
/html/*.html
/html/Bilder
/html/Bilder/*-ist.png
/html/development-bundle
/html/mailoutput
/include/Smarty/cache
/include/Smarty/compile
/include/smtp-settings.inc.php
/nbproject/private/
/PHPMailer
/html/FinishedProcess
/html/RunningProcess
/include/path.ini
