*.bak
.idea/workspace.xml
/config
/html/*.html
/html/Bilder
/html/development-bundle
/html/FinishedProcess
/html/mailoutput
/html/RunningProcess
/html/smtp-settings.inc.php
/include/path.ini
/include/Smarty/cache
/include/Smarty/compile
/include/smtp-settings.inc.php
/nbproject/private/
/PHPMailer
